<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="log.path" source="logging.path"/>
    <springProperty scope="context" name="log_level" source="logging.sys.level"/>
    <springProperty scope="context" name="console_level" source="logging.console.level"/>

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceRootId}] [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${console_level}</level>
        </filter>
    </appender>
    <!-- 统一日志输出 -->
    <appender name="sys_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log.path}/app.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log_level}</level>
        </filter>
    </appender>

    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
<!--    <jmxConfigurator/>-->


    <!--打印控制台-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="sys_info"/>
    </root>
</configuration>